
@model _InstructorVM
@{
    SelectList depts;
    if (Model != null)
    {
        depts = new SelectList(ViewBag.Depts, "Id", "Name", Model.dept_Id);
    }
    else
    {
        depts = new SelectList(ViewBag.Depts, "Id", "Name");
    }

    SelectList crs;
    if (Model != null)
    {
        crs = new SelectList(ViewBag.Crs, "Id", "Name", Model.dept_Id);
    }
    else
    {
        crs = new SelectList(ViewBag.Crs, "Id", "Name");
    }
}
<form asp-controller="Instructor" asp-action="SaveAdd"  method="post">
    <div class="mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"  />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Imag"></label>
        <input asp-for="Imag" class="form-control"  />
        <span asp-validation-for="Imag"></span>

    </div>
    <div class="mb-2">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control"  />
        <span asp-validation-for="Salary"></span>

    </div>
    <div class="mb-2">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control"  />
        <span class="text-danger" asp-validation-for="Address"></span>

    </div>
    <div class="mb-2">
        <label asp-for="Department"></label>
        <select asp-for="dept_Id" asp-items="depts" class="form-control" >
          
        </select>
    </div>
    <div class="mb-2">
        <label asp-for="Course"></label>
        <select asp-for="crs_id" asp-items="crs" class="form-control" >
          
        </select>
     @*    <label for="Course">Course</label>
        <select name="crs_id" id="Course" class="form-control" disabled>
            @foreach (var item in ViewBag.Crs)
            {
                if (item.Id == Model.crs_id)
                {
                    <option value="@item.Id" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select> *@
    </div>


    <input type="submit" value="Add" class="btn btn-success" />
</form>

@section Scripts
{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}