@model SchoolManagment.Models.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="form-control">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class="form-control">
            @Html.DisplayFor(model => model.Manager)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="ms-2 btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
